<!doctype html>
<html>

<head>
    <title>Login</title>
</head>

<body>
    <header>
        <nav>
            <div class="main-wrapper">
                <ul>
                    <li>
                        <a href="../index.php">Home</a>
                        <a href="/views/dashboard.php">Dashboard</a>
                    </li>
                </ul>
                <div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <!-- Specific Page Content Goes Here -->
        <?php $this->content();?>
    </div>
</body>

</html>