<h2>Login</h2>
<section>
    <form action="">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="password" name="password" placeholder="Password">
    <br>
    <input type="submit">Sign in</button>
    </form>
    <a href="">Sign up</a>
     
</section>
